textarea#character_name {
    border: 1px;
    padding: 10px;
    width: 45.75%;
    resize: vertical;
    overflow: auto;
}
textarea#players_mission {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}
input#stats-checkboxes {
  display: inline-block;
  padding-right: 10px;
}

textarea#level-imporvment {
    border: 1px;
    padding: 10px;
    width: 100%;
}
