h4 {
  padding: 10px;
}

textarea#character_name {
    border: 1px;
    padding: 10px;
    width: 45.75%;
    resize: vertical;
    white-space: pre-wrap;
    overflow: auto;
}

textarea#character_look {
    border: 1px;
    padding: 10px;
    width: 45.75%;
    resize: vertical;
    overflow: auto;
}

textarea#current-level {
    border: 1px;
    /* margin-top: 5px; */
    margin-left: 15px;
    padding: 5px;
    width: 100px;
    resize: none;
}
