/* h4 {
padding: 5px;
} */

textarea#current-level {
  border: 1px;
  /* margin-top: 5px; */
  margin-left: 15px;
  padding: 5px;
  width: 100px;
  resize: none;
}

textarea#character_name {
  border: 1px;
  padding: 5px;
  width: 45.75%;
  resize: vertical;
  white-space: pre-wrap;
  overflow: auto;
}

textarea#character_look {
  border: 1px;
  padding: 5px;
  width: 45.75%;
  resize: vertical;
  overflow: auto;
}

textarea#luck-total {
  border: 1px;
  /* margin-top: 5px; */
  /* margin-left: 15px; */
  padding: 5px;
  width: 100px;
  resize: none;
}

textarea#harm-total {
  border: 1px;
  /* margin-top: 5px; */
  /* margin-left: 15px; */
  padding: 5px;
  width: 200px;
  resize: none;
}

textarea#unstable-total {
  border: 1px;
  /* margin-top: 5px; */
  /* margin-left: 15px; */
  padding: 5px;
  width: 200px;
  resize: none;
}

textarea#charm-value {
  border: 1px;
  padding: 5px;
  height: 30px;
  width: 50px;
  resize: none;
}

textarea#cool-value {
  border: 1px;
  padding: 5px;
  height: 30px;
  width: 50px;
  resize: none;
}


textarea#sharp-value {
  border: 1px;
  padding: 5px;
  height: 30px;
  width: 50px;
  resize: none;
}

textarea#tough-value {
  border: 1px;
  padding: 5px;
  height: 30px;
  width: 50px;
  resize: none;
}

textarea#weird-value {
  border: 1px;
  padding: 5px;
  height: 30px;
  width: 50px;
  resize: none;
}

textarea#experience-total {
  border: 1px;
  /* margin-top: 5px; */
  /* margin-left: 15px; */
  padding: 5px;
  width: 100px;
  resize: none;
}

textarea#level-imporvment1 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment2 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment3 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment4 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment5 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment6 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment7 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment8 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment9 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment10 {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}


textarea#level-imporvment1b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment2b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment3b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment4b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment5b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment6b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment7b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment8b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment9b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#level-imporvment10b {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#players_mission {
    border: 1px;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

textarea#moves1 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves2 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves3 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves4 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves5 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves6 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves7 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#moves8 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons1 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons2 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons3 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons4 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons5 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons6 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons7 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons8 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#weapons9 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}


textarea#item1 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#item2 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item3 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item4 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item5 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item6 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item7 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item8 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#item9 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#players_historys1 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#players_historys2 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys3 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys4 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys5 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys6 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys7 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys8 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
textarea#players_historys9 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes1 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes2 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes3 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes4 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes5 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes6 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes7 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes8 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes9 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}

textarea#notes10 {
    border: 1px;
    padding: 10px;
    width: 50%;
    resize: vertical;
}
